<%- include('./header.ejs') %>
    <% if (!user) { %>
        <p>Welcome! Please <a href="/login/42">log in.</a></p>
        <% } else { %>
            <p>Hello, <%= user.displayName %> .</p>
            <div>
                <form id="my-form" >
                    <input type="file" id="picture">
                    <button type="submit">go</button>
                </form>
            </div>
            <script>
                function hundleSubmit(e) {
                    e.preventDefault();
                    const data = new FormData();
                    data.append('picture', document.getElementById('picture').files[0]);
                    fetch('/profile/picture/', {
                        method: 'POST',
                        body: data
                    })
                }
                var form = document.getElementById('my-form');
                if (form.attachEvent) {
                    form.attachEvent("submit", hundleSubmit);
                } else {
                    form.addEventListener("submit", hundleSubmit);
                }

            </script>
            <!-- <p><a href="/data">data</a>.</p> -->
            <% } %>
                <%- include('./footer.ejs') %>