<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
        <title>Websockets</title>
    <script src="https://cdn.socket.io/4.3.2/socket.io.min.js"
    integrity="sha384-KAZ4DtjNhLChOB/hxXuKqhMLYvx3b5MlT55xPEiNmREKRzeEm+RVPlTnAn0ajQNs"
    crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <form action="" class="pt-4">
            <input type="text" name="text" id="text" placeholder="Type a message">
            <input type="submit" name="submit" id="submit" value="Send" onclick="sendMessage(event)">
        </form>
        <div class="rooms">
            <h2>Rooms</h2>
            <button class="btn btn-primary" onclick="showForm(event)">Create Room</button>
            <br>
            <br>
            <form action="" class="form-inline" id="form-room" style="display: none">
                <input type="text" name="room" id="room" placeholder="Room name">
                <input type="submit" name="submit" id="submit" value="Create" onclick="createRoom(event)">
            </form>
            <br>
            <div>
                <ul id="rooms">
                </ul>
            </div>
        </div>
        <br>
        <div style="display: none;" id="room_info">
            Status: <strong id="statut"> </strong>
            &nbsp&nbsp
            <button class="btn btn-info" onclick="toggleRoomMembership()" id="membership">
                
            </button>
        </div>
        <div class="messages">
            <h2>Messages</h2>
            <ul id="myList">
            </ul>
        </div>


    <script>
        var socket = io('http://localhost:3000');
        var username = prompt('What is your name?');
        var text = document.getElementById("text");
        var activeRoom = '';
        var statut = document.getElementById("statut");
        var membership = document.getElementById('membership');
        let list = document.getElementById("myList");
        var messages = {};
        var rooms = {};
        var rooms_name = []
        

        function createRoom(event) { 
            event.preventDefault();
            socket.emit('createRoom', document.getElementById('room').value);
            document.getElementById('form-room').style.display = 'none';
            // add room to the list
            let new_room = document.createElement('li');
            new_room.innerText = document.getElementById('room').value;
            new_room.classList.add('btn');
            // add id to the room
            new_room.id = document.getElementById('room').value;
            rooms_name.push(new_room.id);
            messages[new_room.id] = [];

            new_room.addEventListener('click', function() {
                setActiveRoom(new_room.id);
                new_room.classList.add('btn-primary');
                for (let i = 0; i < rooms_name.length; i++) {
                    if (rooms_name[i] != new_room.id) {
                        document.getElementById(rooms_name[i]).classList.remove('btn-primary');
                    }
                }
            });

            document.getElementById('rooms').appendChild(new_room);
            document.getElementById('room_info').style.display = 'block';
        }

        socket.on('connect', () => {
            toggleRoomMembership();
            // display the list of rooms
            socket.emit('getRooms');
        });

        socket.on('chatToClient', (msg) => {
            messages[msg.room].push(msg);
            loadData()
        });

        socket.on('joinedRoom', (room) => {
            rooms[room] = true;
        });

        socket.on('createdRoom', (room) => {
            rooms[room] = true;
        });

        socket.on('leftRoom', (room) => {
            rooms[room] = false;
        });

        function isMemberOfActiveRoom() { 
            return rooms[activeRoom];
        }

        function toggleRoomMembership() { 
            if (isMemberOfActiveRoom()) {
                console.log('leave room');
                socket.emit('leaveRoom', activeRoom);
                membership.innerText = 'Join';
                statut.innerText = 'NOT Joined';
            } else {
                console.log('join room');
                socket.emit('joinRoom', activeRoom);
                membership.innerText = 'Leave';
                statut.innerText = 'Joined';
            }
        }

        function setActiveRoom(activeRm) { 
            activeRoom = activeRm;
            loadData()
        }
        
        
        function sendMessage(event) { 
            event.preventDefault();
            if (isMemberOfActiveRoom()) {
                socket.emit('chatToServer', {
                    sender: username,
                    message: text.value,
                    room: activeRoom
                });
            }
            else
                alert('You must join the room before sending messages!');
            text.value = '';
        }
        
        function loadData() {
            let msg_elem = '';
            messages[activeRoom].map((msg) => {
            msg_elem += ` <li>
                            <span class="fw-bolder">${msg.sender}</span>
                            ${msg.message}
                        </li>`;
            });
            list.innerHTML = msg_elem;
        }

        function showForm(event) { 
            event.preventDefault();
            document.getElementById('form-room').style.display = 'block';
        }

      
    </script>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>
</html>