
<%- include('./header.ejs') %>
<form id="register" method="post" action="/user/register">    
    <label><b>displayName   
    </b>    
    </label>    
    <input type="text" name="name" id="email" placeholder="displayName">    
    <br><br>    
    <label><b>Pic     
    </b>    
    </label>    
    <input type="image" name="pic" id="pic" placeholder="image">    
    <br><br>    
    <input type="submit" name="button" id="submit" value="Register">
</form> 
<%- include('./footer.ejs') %>