
<form id="search" method="post" action="/2fa/enable">    
    <label><b>search  
    </b>    
    </label>    
    <input type="text" name="search" id="search" placeholder="search">    
    <br><br>    
    <input type="submit" name="button" id="submit" value="search">
</form>